@media (max-width: 1250px) {

    /* NAVBAR */

    .bloc_texte {
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .actuality .art1>img {
        aspect-ratio: 13.5/20;
    object-fit: cover;
    }

    .actuality .art1,
    .actuality .art2 {
        max-width: 600px;
    }

    /* HISTOIRE */

    .stripe {
        display: none;
    }

    .history {
        border: solid 4px var(--white-color);
    }

}

@media (max-width: 1200px) {
    /* ACTU */

    .actuality .art1,
    .actuality .art2 {
        max-width: none;
    }
}

@media (max-width: 1100px) {



    /* LOGO HEADER */

    .logo {
        display: flex;
        flex-direction: column;
        margin-bottom:-100px;
    }

    .logo span {
        text-shadow:
            -2px -2px 0 var(--white-color),
            2px -2px 0 var(--white-color),
            -2px 2px 0 var(--white-color),
            2px 2px 0 var(--white-color);
        font-size: 150px;
    }

    .logo span::after {
        content: attr(data-letter);
        position: absolute;
        left: 5px;
        z-index: -1;
        font-size: 150px;
    }

    .logo span:nth-child(1) {
        transform: rotate(2.63deg);
        position: relative;
        left: -100px;
    }

    .logo span:nth-child(2) {
        text-shadow:
            -2px -2px 0 var(--orange-color),
            2px -2px 0 var(--orange-color),
            -2px 2px 0 var(--orange-color),
            2px 2px 0 var(--orange-color);
        transform: rotate(-9.09deg);
        position: relative;
        top: -100px;
    }

    .logo span:nth-child(2)::after {
        text-shadow:
            -2px -2px 0 var(--orange-color),
            2px -2px 0 var(--orange-color),
            -2px 2px 0 var(--orange-color),
            2px 2px 0 var(--orange-color);
    }

    .logo span:nth-child(3) {
        transform: rotate(19.6deg);
        position: relative;
        top: -150px;
        left: 100px;
    }

    .logo span:nth-child(4) {
        transform: rotate(-12.43deg);
        position: relative;
        top: -240px;
        left: 100px;
    }

    .navbar {
        display: none;
    }


    /* ACTUALITÉS */

    .actuality h2 {
        font-size: 26px;
        margin-left: 40px;
    }

    /* HISTOIRE */

    .history {
        padding: 20px;
        margin-bottom: 20%;
        margin-top: 0;
    }

    .history h4 {
        font-size: 18px;
    }

    /* BARBE À PAPA */

    .bap_zone {
        min-height: 100vh;
        padding-bottom: 30px;
    }

    .bap_zone>div:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
        }

    .bap_zone img {
        transform: rotate(0deg);
        filter: grayscale(1);
        width: 75%;
        align-self: center;
    }

    .infosBAP {
        align-self: center;
    }

    .bap_zone img:hover {
        filter: grayscale(1);
    }

    .prochainement {
        margin-left: 20px;
    }

    .prochainement h2 {
        font-family: 'Inter';
        margin-left: 35px;
        font-weight: 600;
        font-size: 16px;
        color: var(--grey-color);
    }

    .bap_title {
        flex-direction: row;
        margin-left: 0px;
    }

    .bap_title h6 {
        font-weight: 800;
        font-size: 7vw;
        color: var(--blue-color);
        top: 0px;
        margin-left: 0;
        align-self: flex-start;
    }

    .bap_title h6 br {
        display: none;
    }


    .bap_title h6 span {
        margin-left: 0;
    }

    /* BOUTON SERVICES  */

    .services button:nth-child(1),
    .services button:nth-child(2),
    .services button:nth-child(3) {
        transform: rotate(0deg)
    }

    .services button:nth-child(1):hover,
    .services button:nth-child(2):hover,
    .services button:nth-child(3):hover {
        transform: rotate(0deg)
    }

   
}

@media (max-width:840px) {

     /* CONTACT  */
    
     .contact {
        border-top: none;
        margin-top: 0;
    }

    .contact-form {
        margin-right: 0;
        margin-top: 0;
    }

    .contact::after,
    .contact::before {
        display: none;
    }

    .contact_img>div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 100px;
        margin-bottom: 100px;
    }


    /* FOOTER */

    footer {
        border: none;
    }

    .footer_top {
        padding: 0;
        padding-top: 50px;
    }

    footer::after,
    footer::before {
        display: none;
    }

    .footer_top ul {
        margin: 0 50px 0px 10px;
    }

    .footer_bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 40px;
        width: 100%;
    }

    .footer_bottom img {
        margin-left: 0;
    }

    .newsletter {
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media (max-width:630px) {
       /* EXPO DU MOMENT  */

       .currentExpo {
        margin-bottom: 0;
        margin-top:50px;
    }

    .currentExpo button a {
        color: var(--darkblack-color);
    }

    .currentExpo h2 {
        font-size: 22px;
        line-height: 140%;
    }


    .bloc_texte {
        width: 100%;
        min-width: 0;
        margin-bottom: 60%;
        top: -100px;
    }

    .bloc_texte img {
        display: block;
        top: 0;
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
        left: auto;
        position: absolute;
        padding: 40px;
        left: 0;
        top: 75%;
    }

    .currentExpo button {
        position: relative;
        top: 15%;
        right: 20px;
        background: var(--white-color);
        color: var(--black-color);
    }

    .img1 {
        z-index: 20;

        display: none;
    }

    .img2 {
        display: none;
    }

    .blackviewmore a {
        color:var(--white-color);
    }
}