h3 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.anka {
    width: 330px;
    height: 360px;
}

.works {
    height: 208px;
    width: 332px;
    left: 970px;
    top: 1681px;
    color: var(--white-color);
}


.works span {
    color: var(--orange-color)
}

.presskit {
    background-color: var(--white-color);
    color: var(--blue-color);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding: 10px 16px;
    border: none;
}

.childbook {
    background-color: var(--white-color);
    color: var(--blue-color);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding: 10px 16px;
    border: none;
}

.blueanka {
    font-family: 'Inter';
    font-size: 150px;
    font-weight: 900;
    line-height: 130px;
    letter-spacing: -0.06em;
    text-align: center;
    color: var(--blue-color);
}

.black {
    background-color: var(--midblack-color);
    color: var(--white-color);
    margin-top: 20px;
}