h3 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.anka {
    width: 330px;
    height: 360px;
}

.works {
    height: 208px;
    width: 332px;
    left: 970px;
    top: 1681px;
    color: var(--white-color);
}


.works span {
    color: var(--orange-color)
}

.presskit {
    background-color: var(--white-color);
    color: var(--blue-color);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding: 10px 16px;
    border: none;
}

.childbook {
    background-color: var(--white-color);
    color: var(--blue-color);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    padding: 10px 16px;
    border: none;
}

.blueanka {
    font-family: 'Inter';
    font-size: 150px;
    font-weight: 900;
    line-height: 130px;
    letter-spacing: -0.06em;
    text-align: center;
    color: var(--blue-color);
}

.button:d(2)::after,
{
content: '';
width: 100%;
height: 4px;
position: absolute;
bottom: -30px;
left: 0;
}


.services button:nth-child(2)::after {
    background: var(--blue-color);

}

.black {
    background-color: var(--midblack-color);
    color: var(--white-color);
    margin-top: 20px;
}

.buttonrectangleblue {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 40px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    width: 25%;
    min-width: 300px;
    transition: 0.2s;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.rectangleblue {
    background: var(--blue-color);
    padding: 35px ;
    font-weight: 600;
    font-family: 'Inter', sans-serif; 
    cursor: pointer;
    border: none;
    color: var(--white-color);
}