.currentExpo {
    width: 100vw;
    box-sizing: border-box;
    height: 900px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.currentExpo .img-block {
    position: relative;
    width: 100vw;
}

.img1 {
    position: absolute;
    z-index: 1;
    width: 530px;
    top: 0;
    left: 10%;
}

.img2 {
    position: absolute;
    justify-content: space-around;
    z-index: 2;
    top: 200px;
    left: 45%;
    max-width: 600px;
}

.bloc_texte {
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    min-width:450px;
    height: auto;
    background-color: var(--white-color);
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 30px;
    padding-bottom: 30px;
    top:100px;
    left:40%;
}

.titre_dates {
    display: flex;
    max-width: 90%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.titre_dates h2 {
    margin-bottom: 0;
}

.titre_dates h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.paragraphe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    max-width: 90%;
    margin-bottom: 0.5em;
}

.paragraphe p {
    margin-top: 0;
}