.footer_top{
    padding:40px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #f8f8f8;


}

.footer_bottom{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:40px;

}

.footer_bottom_copyright{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #f8f8f8;
}



.newsletter{
    display: flex;
    justify-content: flex-end;
    border:none;
    padding:16px;
    color:var(--white-color);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    cursor:pointer;
    background-color: var(--black-color);
    font-weight: 600;

}