.history {
    margin-bottom: 200px;
    display: flex;
    width: 80vw;
    margin-top: 100px;
    border-top: solid 4px var(--white-color);
    border-bottom: solid 4px var(--white-color);
    justify-content: center;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

.history span {
    color:var(--orange-color);
}

.history .stripe {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
}

.history .stripe::before,
.history .stripe::after {
    content: '';
    width: 4px;
    background: var(--white-color);
    height: 120%;
    display: block;
    position: absolute;
    transition: transform 0.3s ease-in-out
}

.history .stripe::before {
    transform: rotate(20deg);
    transform-origin: bottom;
    bottom: 0;
}

.history .stripe::after {
    transform: rotate(-20deg);
    transform-origin: top;
}

.history:hover .stripe::after,
.history:hover .stripe::before {
    transform: rotate(0deg);
}

.history .stripe-left {
    left: 0px;
}

.history .stripe-right {
    right: 0px;
}

.history .stripe-right::after {
    transform: rotate(20deg);
}

.history .stripe-right::before {
    transform: rotate(-20deg);
}

.history .history-text {
    width: 670px;
}

.history h4:first-child {
    margin-bottom: 30px;
}