.history{
    margin-bottom:100px;
    display:flex;
    min-height:400px;
    width: 80vw;
    margin-top:100px;
    border: solid 4px var(--white-color);
    justify-content:center;
    padding:40px;
}

.history > div{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width:670px;
}