.participate{
    background-color: var(--white-color);
    color: var(--black-color);
    border: none;
    padding: 38px 66.86px 38px 66.86px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.seexhibitions{
    background-color: var(--blue-color);
    color: var(--white-color);
    border: none;
    padding: 38px 66.86px 38px 66.86px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

.privatize{
    background-color: var(--orange-color);
    color: var(--midblack-color);
    border: none;
    padding: 38px 66.86px 38px 66.86px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    cursor: pointer; 
} 
